# Pastas de dependências e ambiente
node_modules/
venv/
.venv/
env/

# Arquivos de ambiente e chaves (SEGURANÇA)
.env
.env.local

# Pastas de build e cache
.next/
dist/
build/
__pycache__/
*.pyc

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db